table{
	word-spacing: 3px;
	color: #f0a500;
	font-size: 20px;
}
#ted:hover{
	border: dotted #32e0c4; 
}
#few:hover{
	border: dotted #32e0c4; 
}
#sit:hover{
	border: dotted #32e0c4; 
}
h1{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	margin-left: 70px;
	font-family:  "AFRICAN";
	text-decoration: underline double #f6d743;
	color:#fb7813;
}
#dew{
	background-image: url("E:/PRABHANJAN/My First Project/images/light.jpg");
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}